:root {
  /* SIZES */

  --min-width: 280px;
  --max-width: 1440px;

  /* COLORS */
  --primary-color: #ff4e4e;
  --primary-color-hover: #ea4646;
  --primary-color-active: #da3b3b;

  --white: #fff;

  --secondary-text-color: #636363;

  --bg-color: #212121;
  --accent-bg-color: #282828;

  --border-color: #2e2e2e;
}
