---
import type { SubNav } from "./navigation.astro";

interface Props {
  subLinks: SubNav[];
}

const { subLinks } = Astro.props;
---

<div class="drop-nav">
  <div class="first-column">
    <ul>
      {
        subLinks.map((link) => (
          <li>
            <a href={link.url}>
              <span>{link.title}</span>
              <p>{link.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="level"></div>
</div>

<style>
  .drop-nav {
    display: flex;

    position: absolute;
    top: 105px;
    left: 0;

    width: 100%;
    min-height: 400px;

    background-color: var(--bg-color);

    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s linear;

    padding: 20px;

    & .first-column {
      flex: 0 0 340px;

      & ul {
        list-style: none;

        & li {
          position: relative;

          border-radius: 10px;
          transition: 0.2s linear;

          & a {
            display: block;
            color: var(--white);

            text-decoration: none;
            padding: 16px;

            & span {
              font-size: 16px;
              transition: color 0.2s linear;
            }

            & p {
              color: var(--secondary-text-color);
              font-size: 14px;
            }
          }

          &:hover {
            background-color: var(--accent-bg-color);

            & a span {
              color: var(--primary-color-hover);
            }

            &::after {
              border-color: var(--primary-color-hover);
            }
          }

          &::after {
            content: "";
            display: block;

            position: absolute;
            top: calc(50% - 4px);
            right: 20px;

            width: 8px;
            height: 8px;

            border-top: 2px solid var(--secondary-text-color);
            border-right: 2px solid var(--secondary-text-color);

            transform: rotate(45deg);
            transition: border 0.2s linear;
          }
        }
      }
    }
  }

  .drop-nav-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
</style>
