---
import Logo from "@components/logo.astro";
import Button from "@components/button.astro";
import Navigation, { type Link } from "@components/navigation.astro";
import Icon from "@components/icon.astro";

const primaryLinks: Link[] = [
  {
    url: "/gaming-pc",
    title: "игровые пк",
    subNav: [
      {
        title: "Оптимальные",
        url: "#",
        description: "Идеальный выбор для FHD и 2K",
      },
    ],
  },
  {
    url: "/laptops",
    title: "ноутбуки",
    subNav: [
      {
        title: "Для геймеров",
        url: "#",
        description: "Компактная мощность",
      },
    ],
  },
  {
    url: "/workstations",
    title: "рабочие станции",
    subNav: [
      {
        title: "Оптимальные",
        url: "#",
        description: "Идеальные для работы и творчества",
      },
    ],
  },
  {
    url: "/configurator",
    title: "конфигуратор",
  },
];

const secondaryLinks: Link[] = [
  {
    url: "/about",
    title: "О нас",
  },
  {
    url: "/projects",
    title: "Наши проекты",
  },
  {
    url: "/contacts",
    title: "Контакты",
  },
];
---

<header>
  <div class="container">
    <div class="header-top">
      <div class="header-contacts">
        <Button type="sub" label="Выбрать город">
          <Icon name="location-icon" />
        </Button>

        <a href="#" class="phone-link">+7 (913) 768-24-11</a>
      </div>

      <Navigation links={secondaryLinks} type="secondary" />
    </div>

    <div class="header-main">
      <Logo />

      <Navigation links={primaryLinks} type="primary" />

      <div class="header-controls">
        <Button type="sub">
          <Icon name="cart-icon" />
        </Button>

        <Button className="burger-button" type="sub">
          <Icon name="burger-icon" />
        </Button>

        <Button className="phone-button" type="primary" label="Заказать звонок" />
      </div>
    </div>
  </div>
</header>

<style>
  header {
    position: relative;
    width: 100%;
    min-height: 110px;

    background-color: var(--bg-color);

    & .container {
      max-width: var(--max-width);

      padding: 16px 16px 0 16px;
      margin: 0 auto;

      & .header-top {
        display: flex;
        justify-content: space-between;

        min-height: 30px;

        border-bottom: 1px solid var(--border-color);

        padding-bottom: 10px;

        & .header-contacts {
          display: flex;
          align-items: center;
          gap: 16px;

          & .phone-link {
            color: var(--white);
            font-size: 14px;

            text-decoration: none;

            transition: color 0.2s linear;

            &:hover {
              color: var(--primary-color-hover);
            }

            &:active {
              color: var(--primary-color-active);
            }
          }
        }
      }

      & .header-main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .header-controls {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    .header-contacts {
      width: 100%;
      justify-content: space-between;
    }
  }
</style>
